#dete {
    width: 200px;
    height: 300px;
}
#karta {
    width: 500px;
    height: 500px;
}
.navigacija li {
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle;
}
.navigacija li a {
    color: #ccc;
    vertical-align: middle;
}
.navigacija li a:hover {
    color: #ccc;
    text-decoration: none;
}
.izumi {
    width: 250px;
    height: 280px;
}
.omotac {
    position: relative;
    padding-top: 56.25%;
    height: 30vh;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}